.home{
    height: 95vh;
}
.h-row{
    margin-top: 14vh;
    margin-right: 6vw;
    margin-bottom: 15vh;
    margin-left: 6vw;
}
.h-name{
    display: flex;
    flex-direction: column;
    margin-top: 6vh;
}
.h-name>:nth-child(1){
    color: var(--black);
    font-weight: 700;
    font-size: 3rem;
}
.h-name>:nth-child(2){
    color: orange;
    font-weight: 700;
    font-size: 3rem;
}
.h-name>:nth-child(3){
    color: gray;
    font-weight: 400;
    font-size: 14px;
}
.h-btn{
    width: 12rem;
}
.h-icons{
    margin-top: 3rem;
    display: flex;
    gap: 0;
}
.h-icons>*{
    transform:  scale(.5);
}
.h-img{
    position: relative;
}
.h-img>:nth-child(1){
    transform: scale(1);
}
.h-img>:nth-child(2){
    position: absolute;
    left: 2vw;
    transform: scale(.9);
}
.h-img>:nth-child(3){
    position: absolute;
    top: 0px;
    left: 0%;
    transform: scale(.5);
}
.floating-div-1{
    position: absolute;
    top: 0px;
    right: 0vw;
}
.floating-div-2{
    position: absolute;
    top:0%;
}
@media  (max-width: 375px) {
    .home{
        height: 120vh;
    }
    .h-row{
        margin-top: 1vh;
        margin-right: 1vw;
        margin-bottom: 5vh;
        margin-left: 1vw;
    }
    .h-name{
        margin-top: 1vh;
    }
    .h-img>*:nth-child(3){
    transform: scale(.35);
    top: -20%;
    left: -45%;
    }
.floating-div-1{
    right: -16%;
    }
}
@media  (min-width: 376px) and (max-width: 576px) {
    .home{
        height: 120vh;
    }
    .h-row{
        margin-top: 1vh;
        margin-right: 1vw;
        margin-bottom: 5vh;
        margin-left: 1vw;
    }
    .h-name{
        margin-top: 1vh;
    }
    .h-name>:nth-child(1){
        font-size: 2.5rem;
    }
    .h-name>:nth-child(2){
        font-size: 2.5rem;
    }
    .h-name>:nth-child(3){
        margin-top: 10px;
    }
    .h-btn{
        width: 8rem;
    }
    .h-icons{
        margin-top: 1rem;
    }
    .h-icons>*{
        transform:  scale(.6);
    }
    .h-img>*:nth-child(3){
        transform: scale(.44);
        top: 0%;
        left: -20%;
    }

}
@media (min-width: 577px) and (max-width: 767px) {
    .home{
        height: 140vh;
    }
    .h-row{
        margin-top: 1vh;
        margin-right: 1vw;
        margin-bottom: 5vh;
        margin-left: 1vw;
    }
    .h-name{
        margin-top: 1vh;
    }
    .h-name>:nth-child(1){
        font-size: 3rem;
    }
    .h-name>:nth-child(2){
        font-size: 3rem;
    }
    .h-name>:nth-child(3){
        margin-top: 10px;
    }
    .h-btn{
        width: 9rem;
    }
    .h-icons{
        margin-top: 1rem;
    }
    .h-icons>*{
        transform:  scale(.7);
    }
    .h-img>*:nth-child(3){
        transform: scale(.55);
        top: 0%;
        left: -15%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .home{
        height: 90vh;
    }
    .h-row{
        margin-top: 1vh;
        margin-right: 1vw;
        margin-bottom: 5vh;
        margin-left: 1vw;
    }
    .h-name{
        margin-top: 5vh;
    }
    .h-name>:nth-child(1){
        font-size: 3rem;
    }
    .h-name>:nth-child(2){
        font-size: 3rem;
    }
    .h-name>:nth-child(3){
        margin-top: 10px;
    }
    .h-btn{
        width: 9rem;
    }
    .h-icons{
        margin-top: 5rem;
    }
    .h-icons>*{
        transform:  scale(.7);
    }
    .h-img{
        margin-top: 13vh;
    }
    .h-img>*:nth-child(3){
        transform: scale(.4);
        top: -10%;
    }
    .floating-div-1{
        width: 140px;
        right: -12%;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .h-row{
        margin-top: 1vh;
        margin-right: 1vw;
        margin-bottom: 5vh;
        margin-left: 1vw;
    }
    .h-name{
        margin-top: 8vh;
    }
    .h-name>:nth-child(1){
        font-size: 3rem;
    }
    .h-name>:nth-child(2){
        font-size: 3rem;
    }
    .h-name>:nth-child(3){
        margin-top: 10px;
    }
    .h-btn{
        width: 9rem;
    }
    .h-icons{
        margin-top: 1rem;
    }
    .h-icons>*{
        transform:  scale(.7);
    }
    .h-img{
        margin-top: 13vh;
    }
    .h-img>*:nth-child(3){
        transform: scale(.4);
        top: -10%;
    }
}
