.footer{
    display: flex;
    align-items: center;
    margin: 0rem -3.5rem;
    position: relative;
    margin-top: 1rem;
    height: 10vh;

}
.footer>:nth-child(1){
    width: 100%;
    position: absolute;
}
.f-content{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    color: aliceblue;
}
.f-icons{
    display: flex;
    gap: 2rem;
    size: 3rem;
    color: #fff;
}
@media screen and (max-width:425px){
    .footer{
        background-image: linear-gradient(to top, rgb(248, 117, 3) 30%, transparent);
        margin-bottom: -1rem;
        height: 15vh;
    }
    .footer>:nth-child(1){
        margin-top: 0rem;
        top: -1.5rem;
    }
    .f-content{
        width: 100%;
        margin-top: 2.2rem;
        gap: .5rem;
        color: aliceblue;
    }
    .f-icons{
        gap: 1rem;
        size: 2rem;
    }
}