:root
{
    --yellow: #F5C32C;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --white: #fff;
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}
.button{
  width: 100px;
  border-radius: 34px;
  border: none;
  color: whitesmoke;
  font-size: 16px;
  padding: 12px 25px;
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(201, 167, 14, 0.4);
}
.button:hover{
  color: var(--orange);
  background: linear-gradient(45deg, #f9d782 26.71%, rgb(222, 228, 40) 99.36%);
  border: 2px solid #fb982f;
  font-size: 18px;
  font-weight: 700;
}
.w-btn:hover{
  width: 250px;
  transition-duration: 500ms;
}
@media  (max-width: 576px) {
  .App{
    padding: .5rem 1rem;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .App{
    padding: .5rem 1.2rem;
  }
}