.work{
    padding: 0 3rem;
    display: flex;
    height: 70vh;
    margin: 0 6vh;

}
.w-s-left{
    position: relative;
    display: flex;
    flex-direction: column;
}
.w-s-left>:nth-child(1){
    font-size: 4rem;
    font-weight: 700;
    color: var(--black);
}
.w-s-left>:nth-child(2){
    font-size: 4rem;
    font-weight: 700;
    color: var(--orange);
}
.w-s-left>:nth-child(3){
    font-size: .8rem;
    font-weight: 400;
    color: var(--gray);
}
.w-s-left>:nth-child(4){
    font-size: 1rem;
    width: 200px;
    margin-top: 20px;
}
.w-right{
    position: relative;
}
.main-circle{
    left: 15rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: #fff;
}
.sec-circle>*{
    position: absolute;
}
.sec-circle>:nth-child(1){
    top: -3rem;
    left: 6rem;
}
.sec-circle>:nth-child(2){
    left: -3rem;
    top: 5rem;
}
.sec-circle>:nth-child(3){
    left: 6rem;
    top: 5rem;
}
.sec-circle>:nth-child(4){
    left: 15rem;
    top: 5rem;
}
.sec-circle>:nth-child(5){
    left: 6rem;
    top: 13rem;
}
.w-circle{
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    background: none;
    box-sizing: var(--smboxShadow);
    background: #fff;
}
.w-circle>a>img{
    transform: scale(.7);
}
.w-back-circle{
    height: 13rem;
    width: 13rem;
    position: absolute;
    border-radius: 100%;
    z-index: -1;
}
.blue-circle{
    background-color: #abf1ff94 ;
    left: 25rem;
    top: 0rem;
}
.yellow-circle{
    background-color: #ffff00;
    left: 25rem;
    top: 5rem;
}
@media (max-width: 375px) {
    .work{
        padding: 3rem 0;
        margin: 8vh 0vw;
    }
    .w-s-left>:nth-child(1){
        font-size: 1.5rem;
    }
    .w-s-left>:nth-child(2){
        font-size: 1.5rem;
    }
    .w-s-left>:nth-child(4){
        width: 180px;
    }
    .w-right{
        position: relative;
    }
    .main-circle{
        left: 5%;
        width: 15rem;
        height: 15rem;
        top: 2rem;
        background: var(--white);
    }
    .sec-circle>:nth-child(1){
        top: -3rem;
        left: 4.5rem;
        transform: scale(.7);
    }
    .sec-circle>:nth-child(2){
        left: -2.5rem;
        top: 4rem;
        transform: scale(.7);
    }
    .sec-circle>:nth-child(3){
        left: 4.5rem;
        top: 4rem;
        transform: scale(.7);
    }
    .sec-circle>:nth-child(4){
        left: 11.5rem;
        top: 4rem;
        transform: scale(.7);
    }
    .sec-circle>:nth-child(5){
        left: 4.5rem;
        top: 11rem;
        transform: scale(.7);
    }
    .blue-circle{
        background-color: #18caee94 ;
        left: 6rem;
        top: 5rem;
    }
    .yellow-circle{
        background-color: #00ffb7;
        left: 6rem;
        top: 1rem;
    }
}
@media  (min-width: 376px) and (max-width: 476px) {
    .work{
        padding: 0rem;
        margin: 8vh 0vw;
    }
    .w-s-left>:nth-child(1){
        font-size: 1.5rem;
    }
    .w-s-left>:nth-child(2){
        font-size: 1.5rem;
    }
    .w-s-left>:nth-child(4){
        width: 180px;
    }
    .w-right{
        position: relative;
    }
    .main-circle{
        left: 10%;
        width: 17rem;
        height: 17rem;
        top: 2rem;
        background: var(--white);
    }
    .sec-circle>:nth-child(1){
        top: -3rem;
        left: 5rem;
        transform: scale(.8);
    }
    .sec-circle>:nth-child(2){
        left: -3rem;
        top: 5rem;
        transform: scale(.8);
    }
    .sec-circle>:nth-child(3){
        left: 5rem;
        top: 5rem;
        transform: scale(.8);
    }
    .sec-circle>:nth-child(4){
        left: 13rem;
        top: 5rem;
        transform: scale(.8);
    }
    .sec-circle>:nth-child(5){
        left: 5rem;
        top: 13rem;
        transform: scale(.8);
    }
    .blue-circle{
        background-color: #18caee94 ;
        left: 9rem;
        top: 5rem;
    }
    .yellow-circle{
        background-color: #00ffb7;
        left: 9rem;
        top: 0rem;
    }
}
@media  (min-width: 475px) and (max-width: 576px) {
    .work{
        padding: 0rem;
        margin: 8vh 0vw;
    }
    .w-s-left>:nth-child(1){
        font-size: 1.5rem;
    }
    .w-s-left>:nth-child(2){
        font-size: 1.5rem;
    }
    .w-s-left>:nth-child(4){
        width: 180px;
    }
    .w-right{
        position: relative;
    }
    .main-circle{
        left: 15%;
        width: 17rem;
        height: 17rem;
        top: 2rem;
        background: var(--white);
    }
    .sec-circle>:nth-child(1){
        top: -3rem;
        left: 5rem;
        transform: scale(.8);
    }
    .sec-circle>:nth-child(2){
        left: -3rem;
        top: 5rem;
        transform: scale(.8);
    }
    .sec-circle>:nth-child(3){
        left: 5rem;
        top: 5rem;
        transform: scale(.8);
    }
    .sec-circle>:nth-child(4){
        left: 13rem;
        top: 5rem;
        transform: scale(.8);
    }
    .sec-circle>:nth-child(5){
        left: 5rem;
        top: 13rem;
        transform: scale(.8);
    }
    .blue-circle{
        background-color: #18caee94 ;
        left: 40%;
        top: 7rem;
    }
    .yellow-circle{
        background-color: #00ffb7;
        left: 40%;
        top: 1rem;
    }
}
@media (min-width: 577px) and (max-width: 767px) {
    .work{
        padding: 0rem;
        margin: 8vh 0vw;
    }
    .w-s-left>:nth-child(1){
        font-size: 1.5rem;
    }
    .w-s-left>:nth-child(2){
        font-size: 1.5rem;
    }
    .w-s-left>:nth-child(4){
        width: 180px;
    }
    .w-right{
        position: relative;
    }
    .main-circle{
        left: 15%;
        width: 19rem;
        height: 19rem;
        top: 2rem;
        background: var(--white);
    }
    .sec-circle>:nth-child(1){
        top: -3.5rem;
        left: 5.5rem;
        transform: scale(.8);
    }
    .sec-circle>:nth-child(2){
        left: -3.5rem;
        top: 6rem;
        transform: scale(.8);
    }
    .sec-circle>:nth-child(3){
        left: 6rem;
        top: 6rem;
        transform: scale(.8);
    }
    .sec-circle>:nth-child(4){
        left: 15rem;
        top: 6rem;
        transform: scale(.8);
    }
    .sec-circle>:nth-child(5){
        left: 6rem;
        top: 15rem;
        transform: scale(.8);
    }
    .blue-circle{
        background-color: #18caee94 ;
        left: 40%;
        top: 7rem;
    }
    .yellow-circle{
        background-color: #00ffb7;
        left: 40%;
        top: 1rem;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .work{
        padding: 0rem;
        margin: 8vh 0vw;
    }
    .w-s-left>:nth-child(1){
        font-size: 2rem;
    }
    .w-s-left>:nth-child(2){
        font-size: 2rem;
    }
    .w-s-left>:nth-child(4){
        width: 180px;
    }
    .w-right{
        position: relative;
    }
    .main-circle{
        left: 25%;
        width: 19rem;
        height: 19rem;
        top: 2rem;
        background: var(--white);
    }
    .sec-circle>:nth-child(1){
        top: -3.5rem;
        left: 5.5rem;
        transform: scale(.8);
    }
    .sec-circle>:nth-child(2){
        left: -3.5rem;
        top: 6rem;
        transform: scale(.8);
    }
    .sec-circle>:nth-child(3){
        left: 6rem;
        top: 6rem;
        transform: scale(.8);
    }
    .sec-circle>:nth-child(4){
        left: 15rem;
        top: 6rem;
        transform: scale(.8);
    }
    .sec-circle>:nth-child(5){
        left: 6rem;
        top: 15rem;
        transform: scale(.8);
    }
    .blue-circle{
        background-color: #18caee94 ;
        left: 45%;
        top: 9rem;
    }
    .yellow-circle{
        background-color: #00ffb7;
        left: 45%;
        top: 1rem;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .work{
        height: 70vh;
        padding: 0rem;
        margin: 12vh 0;
    }
    .w-s-left>:nth-child(1){
        font-size: 2rem;
        margin-top: 1rem;
    }
    .w-s-left>:nth-child(2){
        font-size: 2rem;
    }
    .w-s-left>:nth-child(4){
        font-size: 1rem;
        width: 150px;
    }
    .main-circle{
        left: 0rem;
    }
    .blue-circle{
        background-color: #31d7f894 ;
        left: 30%;
        top: 0rem;
    }
    .yellow-circle{
        background-color: #0cfc58;
        left: 30%;
        top: 7.5rem;
    }
}